a {
	text-decoration: none;
}

li {
	list-style: none;
}

.homepage-card:hover {
	background-color: lightgray;
}

.card {
	position: relative;
}

.heart {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	cursor: pointer;
}
